<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
    <head>
        {% include "partials/head.njk" %}

        <link rel="stylesheet" type="text/css" href="/styles/index.css" />

        {% block headScript %}
        {% endblock %}
    
    </head>

    <body>
        {% import "partials/header.njk" as header %}
        {{header.header(_name)}}

        {% block content %}
        {% endblock %}

        {% include "partials/footer.njk" %}

        <script>
            // font resizing
            $('body').flowtype({
                minimum   : 500,
                maximum   : 1200,
                minFont   : 12,
                maxFont   : 16,
                fontRatio : 30
                });
        </script>

    </body>
</html>