---
title: Avant Vibes
---

{% extends "layouts/Moodboards/AvantVibes.njk"%}

{% block r1c3 %}
{% markdown %}
The Avant Vibes webpage took two design cues from seemingly disparate design philosophies. The general layout and arguably main theme of the site was minimalism, as utilised by retail sites such as [Supreme]("https://www.supremenewyork.com/").

Here, the web designer has opted for a simple, high contrast colour scheme of black, white and red as well as saturated monochrome background photo. This makes the site highly readable, and when paired with the simple layout of the site it draws the viewer's attention to the text content or photo content of the products. One could also draw the connection to this style of design to the physical retail location’s layout schema, opting for a simple uncrowded space where the products themselves X.
{% endmarkdown%}
{% endblock %}

{% block r1c4 %}
On the about page we see this strain of design continue, however with the primary content and background colours flipped. This breaks up the website, as well as providing distinct visual cues for each page served to the user. 
{% endblock %}

{% block r2c2 %}
{% markdown %}
In contrast, the second major design cue was from archaic web design practices, notably the use of tables and loud graphics which became popular in the late 90s and early to mid 00s.
One could posit that the popularity of this style was due to the explosion of the web in the early 2000s. With the rise of web development as a profession, as well as software like adobe flash, led to the creation and distribution of web templates heavily incorporating tabular layouts featuring more and more dynamic elements such as gifs and animations. ?
{% endmarkdown %}
{% endblock %}

{%block r2c21 %}
{% markdown %}
Simultaneous to this, digital drawing and CGI software were becoming less expensive and more X. This led to the heavy incorporation of graphic assets and backgrounds on sites, as well as coupled with bright primary and secondary colours to provide a level of contrast against a chromatically busy site. This was particularly popular among hobbyist and amateur websites, allowing one to create a unique website and potentially show off their own design work. Some elements of this practice were utilised in professional websites, specifically "themed" websites meant to promote products such as games, film and tv or to exist alongside X [THINK].
{% endmarkdown %}
{% endblock %}

{% block r3c41 %}
{% markdown %}
This methodology of retro ?  amatuer design comes to a head on the links page of the website - a page for cataloguing secondary and tertiary content to the radio show. Here the blend of minimalist layout and colour schemes and busy yet chromatically subdued backgrounds and assets was thrown out in favour of a more maximalist approach. 
{% endmarkdown %}
{% endblock %}

{% block r3c42 %}
{% markdown %}

{% endmarkdown %}
{% endblock %}

{% block r4c31 %}
{% markdown %}
Inspiration from sites such as Yvette’s Bridal, yyyyy.info and X was taken, examples of amateur 00s web design taken to its most extreme. Sites such as this have become a cultural meme, albeit a rather dated one, whereby people collate sites such as those listed under the label of nightmare web design. 
{% endmarkdown %}
{% endblock %}

{% block r4c32 %}
{% markdown %}
Whilst incredibly loud, and featuring almost disorienting levels of dynamism with gifs, marquee and translating elements can lead one to label sites designed like this as nightmarish, however one could also look past that surface level shock and find an unlikely design ethos.
{% endmarkdown %}
{% endblock %}

{% block r4c41 %}
{% markdown %}
 Where these sites have been lambasted by practically every part of the web design community, and the internet community as a whole, they have also been whole heartedly fawned over in “creepy-pasta” stories, X and Y showing that there is a hidden element to these sites which instinctively draws people in. 
{% endmarkdown %}
{% endblock %}