---
title: Drain Edition 2
---

{% extends "layouts/Moodboards/DrainE2.njk"%}

{% block r1c31 %}
{% markdown %}
Teaser Images from Drain Edition 2. The zine's visual style has been massively expanded to feature more graphic elements, JavaScript animations and games, sound and more. 
{% endmarkdown%}
{% endblock %}


{% block r2c22 %}
{% markdown %}
An example content page from one "location" in the zine, The Ye Olde Fountain, containing a piece of flavour text and presenting a riddle solving game.
{% endmarkdown %}
{% endblock %}

{% block r3c12 %}
{% markdown %}
A dice rolling game from the same location where once the button is pressed the dice roll, prompting the orc to say something and the score to be drawn onto the parchment to the right.
{% endmarkdown %}
{% endblock %}

{% block r4c31 %}
{% markdown %}
Here we see another location within the zine, "The LinkedLounge", this one a clear pastiche of bland corporate webportals. This features a scrolling slideshow of stock images on the banner, a share to LinkedIn function and more.
{% endmarkdown%}
{% endblock %}

{% block r5c42 %}
{% markdown %}
Here is an example of an interactive page on the LinkedLounge, this one providing information about the board members of the fictional corporation when their portraits are selected or hovered over with the cursor. 
{% endmarkdown%}
{% endblock %}


