---
title: Drain Edition 1
---

{% extends "layouts/Moodboards/DrainE1.njk"%}

{% block r1c3 %}
{% markdown %}
Drain Edition 1 design inspiration came from the cultural magazine [032c]("https://032c.com/"). The 032c schema utilised black bacgrounds with white text and accents, creating an easy to read, high contrast page. Red was also used for banners and flourishes?, highlighting them on the otherwise duotone pages whilst still mainting a high degree of contrast.

For drain this schema was tweaked; taking the black background and white text however compressing the text into a central column 1/3 of the screen width. This emulated the look of a newspaper column, as well as enveloping the content in negative space creating a [figure-ground]("https://en.wikipedia.org/wiki/Figure%E2%80%93ground_(perception)") relationship between content and the site as a whole, and thus occupying the reader's full frame of perception.
{% endmarkdown%}
{% endblock %}

{% block r12c4 %}
The 032c schema was further changed by implementing a pure RGB pallete for flourishes as opposed to only red. This added an element of variation whilst still mainting overall contrast, as well as further fitting in with the visual aesthetic of the site utilising low-poly and 128bit colour clipart renders for link thumbnails, as well as lending itself in a more complementary fashion to the often colourful article figures.
{% endblock %}

{# long row of content starts here #}
{% block r2c11 %}
{% markdown %}
This website also featured a choose-your-own-adventure narrative, to add a level of interactivity between the reader and the content that was being served to them, drawing inspiration from sources such as Fighting Fantasy, X and Visual Novel games.
{% endmarkdown %}
{% endblock %}


{% block r2c12 %}
{% markdown %}
Another point of inspiration was the Alternate Reality Game (ARG) which has seen a surge of popularity in the earlier 2010s. ARGs have been used across the internet, whether it is to promote albums, X or as a set of digital challenges. Most commonly they are presented as a series of obtuse clues that contain links to different parts of the clear and dark web, on which clues or keys are found. 
{% endmarkdown %}
{% endblock %}


{% block r2c21 %}
{% markdown %}
They commonly spill out into the real world too, sending players out into urban areas to find physical clues that will aid them in the puzzle. They are effective in instilling a sense of X within players, who will form communities dedicated to solving these challenges.
{% endmarkdown %}
{% endblock %}


{% block r2c22 %}
{% markdown %}
In the context of the zine, all articles were hidden across the site and accessed by going through the adventure. Each choice taken by the reader would lead them to a thematically linked article, giving just enough of a connection that a reader would be able to guess the subject or theme of the article that will be served to them.
{% endmarkdown %}
{% endblock %}


{% block r2c31 %}
{% markdown %}
This massively increased the website’s click through rate, with many readers going through every page to trace the adventure. This had the advantage that each article was also served to the reader, bypassing one's natural tendency to heavily discriminate against content based on their headlines and thumbnails and offering them a chance to engage with content they wouldn’t have otherwise.
{% endmarkdown %}
{% endblock %}


{% block r2c32 %}
{% markdown %}
This narrative, distinctly fantasy in flavor, also aided in creating a strong visual language of the site. Using fantasy and clipart assets as touched upon earlier, as well as black negative space, instilled the feeling of X.

{% endmarkdown %}
{% endblock %}


{% block r2c41 %}
{% markdown %}
A generic indexing table was also presented at the bottom of the homepage, giving the reader a choice of bypassing this part of the site and to just be served the content. 
{% endmarkdown %}
{% endblock %}


{% block r2c42 %}
{% markdown %}
The Avant Vibes webpage took two design cues from seemingly disparate design philosohpies. The general layout and arguably main theme of the site was minimalism, as utilised by retail sites such as Supreme.			
{% endmarkdown %}
{% endblock %}

{# end of row #}
{% block r3c32 %}
{% markdown %}
In contrast, the second major design cue was from archiac web design practices, notably X and Y which became popular in the late 90s and early - mid 00s.

One could posit that the popularity of this style was due to the explosion of the web in the early 2000s. With the rise of web development as a profession, as well as X like adobe flash, led to the creation and distribution of web templates heavily incorporating tabular layouts.
{% endmarkdown %}
{% endblock %}


{% block r32c12 %}
{% markdown %}
The Avant Vibes webpage took two design cues from seemingly disparate design philosohpies. The general layout and arguably main theme of the site was minimalism, as utilised by retail sites such as Supreme.			
{% endmarkdown %}
{% endblock %}


