{% extends "layouts/root.njk" %}
{% set _name = "AvantVibes" %}
{% block content %}
	<main>

		<!-- row 1 -->
		<div class="flex-grid">
			<div class="col">
				<div class="img-wrapper">
					<img src="/res/static/AVindex.png" width=200%/>
					Figure 1: Avant Vibes index page.
				</div>	
			</div>
			
			<div class="col img-overlap">
			</div>
			
			<div class="col z-2">
				<div class="sub-col-left">
					<div class="img-wrapper">
						<img src="/res/static/SupremeMain.png" width=100%/>
						Figure 2: Supreme New York index page.
					</div>	
				</div>
				<div class="sub-col-right">
						{% block r1c3%}{%endblock%}
				
				</div>
			</div>
			<div class="col col-right">
				<div class="sub-col-left">
					<div class="img-wrapper pos-end">
							<img src="/res/static/SupremeAbout.png" width=100%/>
							Figure 3: Supreme New York index page.
					</div>	
				</div>
				
				<div class="sub-col-right"><div class="paragraph-low-half">{% block r1c4 %}{% endblock %}</div></div>
			</div>
		</div>
		
		
		<!-- padding row -->
		<div class="flex-grid padding">
			<div class="col pt-20"></div>
			<div class="col pt-20"></div>
			<div class="col pt-20"></div>
			<div class="col pt-20 col-right"></div>
		</div>
		
		<!--row 2 -->
		<div class="flex-grid">
			
			<div class="col">
				<div class="img-wrapper">
						<img src="/res/static/FrogGallery.png" width=100%/>
						Figure 3: The gallery page from <a href="http://allaboutfrogs.org/">All About Frogs.</a>
				</div>	
			
			</div>
			<div class="col wrap z-2">
				<div class="col-span right">
					{% block r2c2 %}{% endblock %}
				</div>
				<div class="disp-sub-col-container">
					<div class="sub-col-left">
						{% block r2c21 %}{%endblock%}
					
					</div>
					<div class="sub-col-right"></div>
				</div>
			</div>
			<div class="col border-right">
				<div class="img-wrapper">
					<img src="/res/static/AVarchive.png" width=200%/>
					Figure 4: Avant Vibes archive page.
				</div>	
			</div>
			<div class="col border-left-none col-right img-overlap z-2">
			</div>
		</div>

		<!--row 25 -->
		<div class="flex-grid">
			<div class="col">			
			</div>
			<div class="col border-right z-2">
				<div class="img-wrapper">
								<img src="/res/static/WarcraftIndex.png" width=100%/>
								Figure 5: Splash page for the Warcraft 3 web guide.
						</div>	
			</div>
			<div class="col">
				<div class="sub-col-left">
						{% block r25c31 %}{%endblock%}
					
					</div>
					<div class="sub-col-right"></div>
			</div>
			<div class="col col-right">
			</div>
		</div>
		
		<!-- padding row -->
		<div class="flex-grid padding">
			<div class="col pt-20"></div>
			<div class="col pt-20"></div>
			<div class="col pt-20"></div>
			<div class="col pt-20 col-right"></div>
		</div>
		
		<!-- row 3 -->
		<div class="flex-grid">
			<div class="col">
				<div class="sub-col-left"></div>
				<div class="sub-col-right">
						{% block r3c12 %}{% endblock %}
				</div>
			</div>

			<div class="col">
				<div class="img-wrapper">
					<img src="/res/static/AVlinks.png" width=200%/>
					Figure 6: Avant Vibes links page.
				</div>	
			</div>
			
			<div class="col img-overlap">
			</div>

			<div class="col wrap col-right z-2">
				<div class="col-span left">
					
				</div>
				<div class="col-span right">
					<!--<div class="sub-col-left"></div>-->
						{% block r3c42 %}{% endblock %}
						
					
				</div>
			</div>
		</div>
			<!-- padding row -->
		<div class="flex-grid padding">
			<div class="col pt-5"></div>
			<div class="col pt-5"></div>
			<div class="col pt-5"></div>
			<div class="col pt-5 col-right"></div>
		</div>

		<div class="flex-grid padding">
			<div class="col"></div>
			<div class="col"></div>
			<div class="col">
				<div class="sub-col-left">
					{% block r4c31 %}{% endblock %}
				</div>

				<div class="sub-col-right">
					{% block r4c32 %}{% endblock %}	
				</div>
			</div>
			<div class="col col-right">
				<div class="sub-col-left">
					{% block r4c41 %}{% endblock %}
				</div>

				<div class="sub-col-right">
				<div class="img-wrapper pos-end">
								<img src="/res/static/a2b2.jpeg" width=100%/>
								Figure 7: Logo for popular forum <a href="https://a2b2.org/">A2B2</a>.
						</div>	
				</div>
			
			</div>
		</div>
		
		<!-- padding row -->
		<div class="flex-grid padding">
			<div class="col pt-20"></div>
			<div class="col pt-20"></div>
			<div class="col pt-20"></div>
			<div class="col pt-20 col-right"></div>
		</div>
		
	</main>
{% endblock %}