{% extends "layouts/root.njk" %}
{% set _name = "AvantVibes" %}
{% block content %}
	<main>

		<!-- row 1 -->
		<div class="flex-grid">
			<div class="col">
				<div class="img-wrapper">
					<img src="/res/static/AVindex.png" width=200%/>
					Figure 1: Avant Vibes index page.
				</div>	
			</div>
			
			<div class="col img-overlap">
			</div>
			
			<div class="col z-2">
				<div class="sub-col-left">
					<div class="img-wrapper">
						<img src="/res/static/SupremeMain.png" width=100%/>
						Figure 2: Supreme New York index page.
					</div>	
				</div>
				<div class="sub-col-right">
						{% block r1c3%}{%endblock%}
				
				</div>
			</div>
			<div class="col col-right">
				<div class="sub-col-left">
					<div class="img-wrapper pos-end">
							<img src="/res/static/SupremeAbout.png" width=100%/>
							Figure 3: Supreme New York index page.
					</div>	
				</div>
				
				<div class="sub-col-right"><div class="paragraph-low-half">{% block r1c4 %}{% endblock %}</div></div>
			</div>
		</div>
		
		
		<!-- padding row -->
		<div class="flex-grid padding">
			<div class="col pt-20"></div>
			<div class="col pt-20"></div>
			<div class="col pt-20"></div>
			<div class="col pt-20 col-right"></div>
		</div>
		
		<!--row 2 -->
		<div class="flex-grid">
			
			<div class="col">
				<div class="img-wrapper">
						<img src="/res/static/FrogGallery.png" width=100%/>
						Figure 3: Supreme New York index page.
				</div>	
			
			</div>
			<div class="col wrap z-2">
				<div class="col-span right">
					{% block r2c2 %}{% endblock %}
				</div>
				<div class="disp-sub-col-container">
					<div class="sub-col-left">
						{% block r2c21 %}{%endblock%}
						<div class="img-wrapper pos-end">
								<img src="/res/static/WarcraftIndex.png" width=100%/>
								Figure 3: Supreme New York index page.
						</div>	
					</div>
					<div class="sub-col-right"></div>
				</div>
			</div>
			<div class="col border-right">
				<div class="img-wrapper">
					<img src="/res/static/AVarchive.png" width=200%/>
					Figure 3: Avant Vibes archive page.
				</div>	
			</div>
			<div class="col border-left-none col-right img-overlap z-2">
			</div>
		</div>
		
		<!-- padding row -->
		<div class="flex-grid padding">
			<div class="col pt-20"></div>
			<div class="col pt-20"></div>
			<div class="col pt-20"></div>
			<div class="col pt-20 col-right"></div>
		</div>
		
		<!-- row 3 -->
		<div class="flex-grid">
			<div class="col">
				<div class="sub-col-left">
					<div class="img-wrapper">
						<img src="/res/static/SupremeMain.png" width=100%/>
						Figure 2: Supreme New York index page.
					</div>	
					<p>Here, the web designer has opted for a simple, high contrast colour scheme of black, white and red as well as saturated monochrome background photo. This makes the site highly readable, and when paired with the simple layout of the site highly X, echoing the stores physical design. </p>
				</div>
				<div class="sub-col-right">
						<p>The Avant Vibes webpage took two design cues from seemingly disparate design philosohpies. The general layout and arguably main theme of the site was minimalism, as utilised by retail sites such as <a href="https://www.supremenewyork.com/">Supreme</a>.</p>				
				</div>
			</div>

			<div class="col">
				<div class="img-wrapper">
					<img src="/res/static/AVlinks.png" width=200%/>
					Figure 1: Avant Vibes index page.
				</div>	
			</div>
			
			<div class="col img-overlap">
			</div>

			<div class="col wrap col-right z-2">
				<div class="col-span left">
					{% block r3c41 %}{% endblock %}
				</div>
				<div class="col-span right">
					<!--<div class="sub-col-left"></div>-->
						{% block r3c42 %}{% endblock %}
						
					
				</div>
			</div>
		</div>
			<!-- padding row -->
		<div class="flex-grid padding">
			<div class="col pt-5"></div>
			<div class="col pt-5"></div>
			<div class="col pt-5"></div>
			<div class="col pt-5 col-right"></div>
		</div>

		<div class="flex-grid padding">
			<div class="col"></div>
			<div class="col"></div>
			<div class="col">
				<div class="sub-col-left">
					{% block r4c31 %}{% endblock %}
				</div>

				<div class="sub-col-right">
					{% block r4c32 %}{% endblock %}	
				</div>
			</div>
			<div class="col col-right">
				<div class="sub-col-left">
					{% block r4c41 %}{% endblock %}
				</div>

				<div class="sub-col-right">
				<div class="img-wrapper pos-end">
								<img src="/res/static/WarcraftIndex.png" width=100%/>
								Figure 3: Supreme New York index page.
						</div>	
				</div>
			
			</div>
		</div>
		
		<!-- padding row -->
		<div class="flex-grid padding">
			<div class="col pt-20"></div>
			<div class="col pt-20"></div>
			<div class="col pt-20"></div>
			<div class="col pt-20 col-right"></div>
		</div>
		
	</main>
{% endblock %}