{% extends "layouts/root.njk" %}
{% set _name = "DrainE1" %}

{% block content %}
	<main>

		<!-- row 1 -->
		<div class="flex-grid">
			<div class="col">
				<div class="img-wrapper">
					<img src="/res/static/drainArticle.png" width=200%/>
					Figure 1: An article from Drain Edition 1.
				</div>	
			</div>
			
			<div class="col img-overlap">
			</div>
			
			<div class="col z-2">

				<div class="sub-col-left">
				</div>
				<div class="sub-col-right">
					{% block r1c3 %}{%endblock %}	
				</div>
				
			</div>
			<div class="col col-right">
				<div class="sub-col-left">
					<div class="paragraph-low-half pt-10">
						{% block r12c4 %}{% endblock %}
					</div>
				</div>

				<div class="sub-col-right">
					<div class="paragraph-low-half pt-10">
					<div class="img-wrapper">
						<img src="/res/dynamic/wizardChilling.gif" width=100%/>
						Figure 2: Clipart asset for an onsite link.
					</div>
				</div>	
				</div>
				
			</div>		
		</div>
		
		<!-- row 2 -->
		<div class="flex-grid">
			<div class="col">
				<div class="sub-col-left">
					{% block r2c11 %}{% endblock %}
				</div>
				<div class="sub-col-right">
					{% block r2c12 %}{% endblock %}
				</div>
			</div>

			<div class="col">
				<div class="sub-col-left">
					{% block r2c21 %}{% endblock %}
				</div>
				<div class="sub-col-right">
					{% block r2c22 %}{% endblock %}				
				</div>
			</div>
			
			<div class="col">
				<div class="sub-col-left">
					{% block r2c31 %}{% endblock %}
				</div>
				<div class="sub-col-right">
					{% block r2c32 %}{% endblock %}
				</div>
			</div>

			<div class="col col-right">
				<div class="col-span left">
					{% block r2c41 %}{% endblock %}			
				</div>
				<div class="col-span right">
					{% block r2c42 %}{% endblock %}
					
				</div>
			</div>
		</div>
		
		<!--row 3 -->
		<div class="flex-grid">
			
			<div class="col">
				<div class="img-wrapper pt-30">
						<img src="/res/static/legaultAdventure.png" width=100%/>
						Figure 3: Splash page from an <a href="https://www.angelfire.com/ky2/legault/antechamber.html">angelfire adventure website</a>.
				</div>	

				
			</div>
			<div class="col wrap">
				<div class="col-span right">
					{% block r3c32 %}{% endblock %}
				</div>
				
			</div>
			<div class="col border-right">
				<div class="img-wrapper">
					<img src="/res/static/drainIndex.png" width=200%/>
					Figure 4: Drain Edition 1 Index Page.
				</div>	
			</div>
			<div class="col border-left-none col-right img-overlap z-2">
			</div>
		</div>
		
		<!-- row 4 -->
		<div class="flex-grid padding">
			<div class="col pt-10">
				<div class="img-wrapper">
						<img src="/res/static/DrainE1Death.png" width=200%/>
						Figure 5: Reaching the end of your adventure.
				</div>		
			</div>
			<div class="col img-overlap pt-10"></div>
			<div class="col pt-10"></div>
			<div class="col pt-10 col-right"></div>
		</div>

		<!-- padding row -->
		<div class="flex-grid padding">
			<div class="col pt-10"></div>
			<div class="col pt-10"></div>
			<div class="col pt-10"></div>
			<div class="col pt-10 col-right"></div>
		</div>
		
	
	</main>
{% endblock %}