{% extends "layouts/root.njk" %}
{% set _name = "DrainE1" %}

{% block content %}
	<main>

		<!-- row 1 -->
		<div class="flex-grid">
			<div class="col">
				<div class="img-wrapper">
					<img src="/res/static/drainArticle.png" width=200%/>
					Figure 1: An article from Drain Edition 1.
				</div>	
			</div>
			
			<div class="col img-overlap">
			</div>
			
			<div class="col">

				<div class="sub-col-left">
				</div>
				<div class="sub-col-right">
					{% block r1c3 %}{%endblock %}	
				</div>
				
			</div>
			<div class="col col-right">
				<div class="sub-col-left">
					<div class="paragraph-low-half pt-20">
						{% block r12c4 %}{% endblock %}
					</div>
				</div>

				<div class="sub-col-right">
					<div class="paragraph-low-half pt-20">
					<div class="img-wrapper">
						<img src="/res/dynamic/wizardChilling.gif" width=100%/>
						Figure 2: Clipart asset for link button.
					</div>
				</div>	
				</div>
				
			</div>		
		</div>
		
		<!-- row 2 -->
		<div class="flex-grid">
			<div class="col">
				<div class="sub-col-left">
					{% block r2c11 %}{% endblock %}
				</div>
				<div class="sub-col-right">
					{% block r2c12 %}{% endblock %}
				</div>
			</div>

			<div class="col">
				<div class="sub-col-left">
					{% block r2c21 %}{% endblock %}
				</div>
				<div class="sub-col-right">
					{% block r2c22 %}{% endblock %}				
				</div>
			</div>
			
			<div class="col">
				<div class="sub-col-left">
					{% block r2c31 %}{% endblock %}
				</div>
				<div class="sub-col-right">
					{% block r2c32 %}{% endblock %}
				</div>
			</div>

			<div class="col col-right">
				<div class="col-span left">
					{% block r2c41 %}{% endblock %}			
				</div>
				<div class="col-span right">
					{% block r2c42 %}{% endblock %}
					
				</div>
			</div>
		</div>
		
		<!--row 3 -->
		<div class="flex-grid">
			
			<div class="col">
					<div class="sub-col-left">
						<div class="img-wrapper pt-30">
								<img src="/res/static/WarcraftIndex.png" width=100%/>
								Figure 3: Supreme New York index page.
						</div>	
					</div>
					<div class="sub-col-right pt-30">
						{% block r32c12 %}{% endblock%}
					</div>
				
			</div>
			<div class="col wrap">
				<div class="col-span right">
					{% block r3c32 %}{% endblock %}
				</div>
				
			</div>
			<div class="col">
				<div class="img-wrapper">
					<img src="/res/static/drainIndex.png" width=200%/>
					Figure 3: Avant Vibes archive page.
				</div>	
			</div>
			<div class="col img-overlap col-right"></div>
		</div>
		
		<!-- padding row -->
		<div class="flex-grid padding">
			<div class="col pt-20"></div>
			<div class="col pt-20"></div>
			<div class="col pt-20"></div>
			<div class="col pt-20 col-right"></div>
		</div>
		
		
		
		
		<!-- row 3 -->
		<div class="flex-grid">
			<div class="col">
			</div>

			<div class="col">
				<div class="img-wrapper">
					<img src="/res/static/AVlinks.png" width=200%/>
					Figure 1: Avant Vibes index page.
				</div>	
			</div>
		
			<div class="col img-overlap">
			</div>

			<div class="col wrap col-right">

			</div>
		</div>
		
	</main>
{% endblock %}