{% extends "layouts/root.njk" %}
{% set _name = "DrainE1" %}

{% block content %}
	<main>

		<!-- row 1 -->
		<div class="flex-grid">
			<div class="col">
				<div class="img-wrapper">
					<img src="/res/static/drainArticle.png" width=200%/>
					Figure 1: An article from Drain Edition 1.
				</div>	
			</div>
			
			<div class="col img-overlap">
			</div>
			
			<div class="col">

				<div class="sub-col-left">
				</div>
				<div class="sub-col-right">
						<p>Drain Edition 1 design inspiration came from the cultural magazine <a href="https://032c.com/">032c</a>. The 032c schema utilised black bacgrounds with white text and accents, creating an easy to read, high contrast page. Red was also used for banners and flourishes?, highlighting them on the otherwise duotone pages whilst still mainting a high degree of contrast.</p>
						<p>For drain this schema was tweaked; taking the black background and white text however compressing the text into a central column 1/3 of the screen width. This emulated the look of a newspaper column, as well as enveloping the content in negative space creating a <a href="https://en.wikipedia.org/wiki/Figure%E2%80%93ground_(perception)">figure-ground</a> relationship between content and the site as a whole, and thus occupying the reader's full frame of perception.</p>
				</div>
				
			</div>
			<div class="col col-right">
				<div class="sub-col-left">
					<div class="paragraph-low-half p20"><p>The 032c schema was further changed by implementing a pure RGB pallete for flourishes as opposed to only red. This added an element of variation whilst still mainting overall contrast, as well as further fitting in with the visual aesthetic of the site utilising low-poly and 128bit colour clipart renders for link thumbnails, as well as lending itself in a more complementary fashion to the often colourful article figures.</p></div>
				</div>

				<div class="sub-col-right">
					<div class="paragraph-low-half p20">
					<div class="img-wrapper">
						<img src="/res/dynamic/wizardChilling.gif" width=100%/>
						Figure 2: Clipart asset for link button.
					</div>
				</div>	
				</div>
				
			</div>

			<!--<div class="col col-right wrap">
				<div class="col-span left">
					<p>In contrast, the second major design cue was from archiac web design practices, notably X and Y which became popular in the late 90s and early - mid 00s. </p>
				</div>
				<div class="disp-sub-col-container">
					<div class="sub-col-left"></div>
					<div class="sub-col-right">
				
						<p> One could posit that the popularity of this style was due to the explosion of the web in the early 2000s. With the rise of web development as a profession, as well as X like adobe flash, led to the creation and distribution of web templates heavily incorporating tabular layouts. </p>
						<p> Loud graphic backgrounds and the use X colours was particularly popular among hobbyist and amateur websites, and "themed" websites were popular among businesses [THINK].</p> 
						<div class="img-wrapper pos-end">
								<img src="/res/static/WarcraftIndex.png" width=100%/>
								Figure 3: Supreme New York index page.
						</div>	
					</div>
				</div>
			</div>-->
			
		</div>
		
		
		{# <!-- padding row -->
		<div class="flex-grid padding">
			<div class="col p20"></div>
			<div class="col p20"></div>
			<div class="col p20"></div>
			<div class="col p20 col-right"></div>
		</div> #}

		<!-- row 3 -->
		<div class="flex-grid">
			<div class="col">
				<div class="sub-col-left">
					<p>The Avant Vibes webpage took two design cues from seemingly disparate design philosohpies. The general layout and arguably main theme of the site was minimalism, as utilised by retail sites such as <a href="https://www.supremenewyork.com/">Supreme</a>.</p>				
				</div>
				<div class="sub-col-right">
					<p>The Avant Vibes webpage took two design cues from seemingly disparate design philosohpies. The general layout and arguably main theme of the site was minimalism, as utilised by retail sites such as <a href="https://www.supremenewyork.com/">Supreme</a>.</p>				
				</div>
			</div>

			<div class="col">
				<div class="sub-col-left">
					<p>The Avant Vibes webpage took two design cues from seemingly disparate design philosohpies. The general layout and arguably main theme of the site was minimalism, as utilised by retail sites such as <a href="https://www.supremenewyork.com/">Supreme</a>.</p>				
				</div>
				<div class="sub-col-right">
					<p>The Avant Vibes webpage took two design cues from seemingly disparate design philosohpies. The general layout and arguably main theme of the site was minimalism, as utilised by retail sites such as <a href="https://www.supremenewyork.com/">Supreme</a>.</p>				
				</div>
				<!--
				<div class="img-wrapper">
					<img src="/res/static/AVlinks.png" width=200%/>
					Figure 1: Avant Vibes index page.
				</div>	-->
			</div>
			
			<div class="col">
				<div class="sub-col-left">
					<p>The Avant Vibes webpage took two design cues from seemingly disparate design philosohpies. The general layout and arguably main theme of the site was minimalism, as utilised by retail sites such as <a href="https://www.supremenewyork.com/">Supreme</a>.</p>				
				</div>
				<div class="sub-col-right">
					<p>The Avant Vibes webpage took two design cues from seemingly disparate design philosohpies. The general layout and arguably main theme of the site was minimalism, as utilised by retail sites such as <a href="https://www.supremenewyork.com/">Supreme</a>.</p>				
				</div>
			</div>

			<div class="col col-right">
				<div class="col-span left">
					<p>The Avant Vibes webpage took two design cues from seemingly disparate design philosohpies. The general layout and arguably main theme of the site was minimalism, as utilised by retail sites such as <a href="https://www.supremenewyork.com/">Supreme</a>.</p>				
				</div>
				<div class="col-span right">
					<p>The Avant Vibes webpage took two design cues from seemingly disparate design philosohpies. The general layout and arguably main theme of the site was minimalism, as utilised by retail sites such as <a href="https://www.supremenewyork.com/">Supreme</a>.</p>				
					
				</div>
			</div>
		</div>
		
		<!--row 2 -->
		<div class="flex-grid">
			
			<div class="col">
			</div>
			<div class="col wrap">
				<div class="col-span right">
					<p>In contrast, the second major design cue was from archiac web design practices, notably X and Y which became popular in the late 90s and early - mid 00s. </p>
					<p> One could posit that the popularity of this style was due to the explosion of the web in the early 2000s. With the rise of web development as a profession, as well as X like adobe flash, led to the creation and distribution of web templates heavily incorporating tabular layouts. </p>
				</div>
				<div class="disp-sub-col-container">
					<div class="sub-col-left">
				
						
						<p> Loud graphic backgrounds and the use X colours was particularly popular among hobbyist and amateur websites, and "themed" websites were popular among businesses [THINK].</p> 
						<div class="img-wrapper pos-end">
								<img src="/res/static/WarcraftIndex.png" width=100%/>
								Figure 3: Supreme New York index page.
						</div>	
					</div>
					<div class="sub-col-right"></div>
				</div>
			</div>
			<div class="col">
				<div class="img-wrapper">
					<img src="/res/static/drainIndex.png" width=200%/>
					Figure 3: Avant Vibes archive page.
				</div>	
			</div>
			<div class="col img-overlap col-right"></div>
		</div>
		
		<!-- padding row -->
		<div class="flex-grid padding">
			<div class="col p20"></div>
			<div class="col p20"></div>
			<div class="col p20"></div>
			<div class="col p20 col-right"></div>
		</div>
		
		
		
		
		<!-- row 3 -->
		<div class="flex-grid">
			<div class="col">
			</div>

			<div class="col">
				<div class="img-wrapper">
					<img src="/res/static/AVlinks.png" width=200%/>
					Figure 1: Avant Vibes index page.
				</div>	
			</div>
		
			<div class="col img-overlap">
			</div>

			<div class="col wrap col-right">

			</div>
		</div>
		
	</main>
{% endblock %}