{% extends "layouts/root.njk" %}
{% set _name = "DrainE2" %}

{% block content %}
	<main>

		<!-- row 1 -->
		<div class="flex-grid">
			<div class="col">
				<div class="img-wrapper">
					<img src="/res/static/DrainE2Intro.png" width=200%/>
					Figure 1: The animated intro crawl for Drain Edition 2.
				</div>	
			</div>
			
			<div class="col img-overlap">
			</div>
			
			<div class="col z-2">
				<div class="sub-col-left">
					{% block r1c31%}{%endblock%}
				</div>
				<div class="sub-col-right">
				</div>
			</div>
			<div class="col col-right">
			</div>
		</div>

		<!-- padding row -->
		<div class="flex-grid padding">
			<div class="col pt-5"></div>
			<div class="col pt-5"></div>
			<div class="col pt-5"></div>
			<div class="col pt-5 col-right"></div>
		</div>

		<!-- row 2 -->
		<div class="flex-grid">
			<div class="col">
			</div>

			<div class="col">
				<div class="sub-col-left">
				</div>
				<div class="sub-col-right">
					{% block r2c22 %}{% endblock %}				
				</div>
			</div>
			
			<div class="col border-right">
				<div class="img-wrapper">
					<img src="/res/static/DrainE2Goblin.png" width=200%/>
					Figure 2: A goblin philosopher musing in the back of a tavern.
				</div>	
			</div>
			
			<div class="col border-left-none col-right img-overlap z-2">
			</div>
		</div>

        <!-- padding row -->
		<div class="flex-grid padding">
			<div class="col pt-5"></div>
			<div class="col pt-5"></div>
			<div class="col pt-5"></div>
			<div class="col pt-5 col-right"></div>
		</div>
		
		<!-- row 3 -->
		<div class="flex-grid">
			
			<div class="col">
				<div class="sub-col-left">
				</div>
				<div class="sub-col-right">
                    {% block r3c12%}{%endblock%}
				</div>
			</div>

			<div class="col">
				<div class="img-wrapper">
					<img src="/res/static/DrainE2Orc.png" width=200%/>
					Figure 3: A game of dice with an orc.
				</div>	
			</div>
			
			<div class="col img-overlap">
			</div>

			<div class="col col-right z-2">
			</div>
		</div>

		<!-- padding row -->
		<div class="flex-grid padding">
			<div class="col pt-5"></div>
			<div class="col pt-5"></div>
			<div class="col pt-5"></div>
			<div class="col pt-5 col-right"></div>
		</div>
	
		<!-- row 4 -->
		<div class="flex-grid">
			<div class="col">
				<div class="img-wrapper">
					<img class="border-top border-bottom" src="/res/static/DrainE2LinkedLounge2.png" width=200%/>
					Figure 4: The home page for the LinkedLounge.
				</div>	
			</div>
			
			<div class="col img-overlap">
			</div>
			
			<div class="col z-2">
				<div class="sub-col-left">
					{% block r4c31%}{%endblock%}
				</div>
				<div class="sub-col-right">
				</div>
			</div>
			<div class="col col-right">
			</div>
		</div>

		<!-- padding row -->
		<div class="flex-grid padding">
			<div class="col pt-5"></div>
			<div class="col pt-5"></div>
			<div class="col pt-5"></div>
			<div class="col pt-5 col-right"></div>
		</div>

        <!-- row 5 -->
		<div class="flex-grid">
			
			<div class="col">
				
			</div>

			<div class="col">
				<div class="img-wrapper">
					<img class="border-top border-bottom" src="/res/static/DrainE2LinkedLoungeTeam.png" width=200%/>
					Figure 6: An interacive "Meet The Team" page.
				</div>	
			</div>
			
			<div class="col img-overlap">
			</div>

			<div class="z-2 justify-start flex-col col wrap col-right">
			    <div class="col-span right test">
                    {% block r5c42%}{%endblock%}
			    </div>

                <div class="disp-sub-col-container">
                    <div class="pt-1 img-wrapper items-center">
						<img src="/res/static/DrainE2Hover.png" width=80%/>
						Figure 7: The content served to the user upon interaction.
					</div>
                </div>
			</div>
		</div>

		<!-- padding row -->
		<div class="flex-grid padding">
			<div class="col pt-5"></div>
			<div class="col pt-5"></div>
			<div class="col pt-5"></div>
			<div class="col pt-5 col-right"></div>
		</div>
		
	</main>
{% endblock %}